<div class="container googleFont">
  <br/>
    <div class="row">
      <a href="#/menu_open" class="col menu-item-1"><button class="button button-full button-positive">MENU</button></a>
      <a href="#/slides" class="col menu-item-1"><button class="button button-full button-positive">PHOTOS</button></a>

    </div>
    <div class="row">
      <a href="#/contacts" class="col menu-item-1"> <button class="button button-full button-positive">CONTACTS</button></a>
      <a href="#" class="col menu-item-1"><button class="button button-full button-positive">ABOUT</button></a>
     </div>
</div>
