<div class="container googleFont">
    <div class="row">
      <a href="#" class="col-10 menu-item-1 ">
        <button class="button button-full button-positive">
          MENU
        </button>
      </a>
      <a href="#" class="col-45 menu-item-1">
        <button class="button button-full button-positive">
          ITEM ONE
        </button>
      </a>
      <a href="#" class="col-45 menu-item-1">
        <button class="button button-full button-positive">
          ITEM TWO
        </button>
      </a>
    </div>
    <div class="row">
      <a href="#/menu" class="col-10 menu-item-1">
        <button class="button button-full button-positive">
          EXIT
        </button>
      </a>
      <a href="#" class="col-45 menu-item-1">
        <button class="button button-full button-positive">
          ITEM THREE
          </button>
      </a>
      <a href="#" class="col-45 menu-item-1">
        <button class="button button-full button-positive">
          ITEM FOUR
        </button>
      </a>
    </div>
</div>
