<!--<div class="list card" style="height: 70%;">

  <div class="item item-avatar">
    &lt;!&ndash;<img src="https://upload.wikimedia.org/wikipedia/en/7/7d/Blurryface_by_Twenty_One_Pilots.png">&ndash;&gt;
    <h2>Girl Girlovich</h2>
    <p>I'm a fucking girl</p>
  </div>

  <div class="item item-image">
    <img  id="imgincard" src="http://cdn1.theodysseyonline.com/files/2015/12/02/6358466960318466421182589997_top.jpg">
  </div>

</div>-->

<div class="card" style="height: 85%; padding: 0px">
  <div class="item item-image" style="height: 100%; margin: 0px">
    <img style="height: 100%"  id="imgincard" src="http://cdn1.theodysseyonline.com/files/2015/12/02/6358466960318466421182589997_top.jpg">
  </div>
</div>

<div class="bar bar-footer" style="padding: 0px">
  <button class="button button-full button-balanced" style="margin: 0px"><h3>Call</h3></button>
</div>
