<!DOCTYPE html>
<html ng-app="menu">
<head lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/w3.css" rel="stylesheet">

  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
  -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>

  <!--<script src="js/angular.min.js"></script>-->
  <script src="js/assylbek_menu.js"></script>
</head>
<body>
<ion-pane>
  <ion-header-bar>
    <ion-nav-view name="header">
      <a href="index.html">Back</a>
    </ion-nav-view>
  </ion-header-bar>
  <ion-content>
    <ion-nav-view name="content" ng-controller="menuController">
      <div class="container googleFont">
          <!--<div class="menu">Menu</div>-->
          <!--<div class="menu">Settings</div>-->
          <!--<div class="menu">Contacts</div>-->
          <!--<div class="menu">About</div>-->
          <div id="menu" class="menu-item-1 col-xs-6 " ng-click="menuOpen(); changeCont = !changeCont" >MENU</div>
          <div id="setting" class=" menu-item-2 col-xs-6 ">SETTING</div>
          <div id = "contacts" ng-show="!changeCont" class=" menu-item-1 col-xs-6" ng-click="hideMenu(); contactsInv = !contactsInv">CONTACTS</div>
          <div ng-show="changeCont" class=" menu-item-1 col-xs-6">EXIT</div>
          <div id="about" class="menu-item-2 col-xs-6 ">ABOUT</div>

          <ul class="media-list" ng-show="contactsInv">
            <li class="media" ng-repeat="c in contacts">
              <div class="media-left">
                <a href="#">
                  <img id="icon" class="media-object thumbnail" src="{{c.img_src}}"
                       alt={{c.img_alt}}>
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">{{c.name}}</h4>
                {{c.desc}}
              </div>
            </li>
          </ul>
      </div>
    </ion-nav-view>
  </ion-content>
</ion-pane>
</body>
</html>
